@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&family=IBM+Plex+Sans+Arabic:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', 'IBM Plex Sans Arabic', sans-serif;
}
:root {
  --gray-0: #fafafa;
  --gray-1: #f5f5f5;
  --gray-2: #ececec;
  --gray-3: #dedede;
  --gray-4: #d4d4d4;
  --gray-5: #999999;
  --gray-6: #777777;
  --gray-7: #555555;
  --gray-8: #333333;
  --gray-9: #111111; 
  --nav-height: 90px;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--gray-0); 
}
 ::-webkit-scrollbar-thumb {
  background: var(--gray-5); 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-6); 
} 

/* swiper */
.swiper-pagination-bullet-active {
  background-color: var(--gray-8) !important;
}

/* burger menu */ 
.bm-menu-wrap {
  top: 0;
}