@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}
:root {
  --gray-0: #f5f5f5;
  --gray-1: #999999;
  --gray-2: #777777;
  --gray-3: #555555;
  --gray-4: #333333;
  --gray-5: #111111;
}
a {
  text-decoration: none;
}