.burger_icon {
  position: absolute;
  left: 30px;
  top: calc(var(--nav-height) + 48px);
  bottom: auto;
  color: var(--gray-7);
  background-color: white;
  font-size: 28px;
  z-index: 0 !important;
}
.burger_icon:hover {
  color: var(--gray-6);
}
.close_icon {
  right: auto !important;
  top: 23px !important;
  left: 10px !important;
  height: auto !important;
  width: auto !important;
  font-size: 38px;
  color: var(--gray-9);
}
.close_icon:hover {
  color: var(--gray-7);
}
.menu {
  background-color: white;
  width: 400px !important;
  max-width: 100%;
}
.overlay {
  background: rgba(0, 0, 0, 0.3) !important;
  top: 0;
}

/* content */
.content {
  padding: 20px;
  position: relative;
} 
.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid var(--gray-3);
  color: var(--gray-9);
}
.main {
  margin-top: 90px;
}
.content_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid var(--gray-3);
  padding-bottom: 30px;
}
.content_header h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--gray-9);
}
.content_header button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  color: var(--gray-7);
  cursor: pointer;
}
.content_header button:hover {
  color: var(--gray-9);
}

@media only screen and (min-width: 1000px) {
  .burger_icon {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .close_icon {
    font-size: 32px;
  }
  .head {
    font-size: 16px;
  }
}

@media only screen and (max-width: 350px) {
  .burger_icon {
    top: calc(var(--nav-height) + 50px);
    left: 20px;
    font-size: 24px;
  }
}