.content {
  padding: 20px;
  position: relative;
  height: 100%;
  overflow: auto;
} 
.sidebar_head {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  max-width: 100vw;
  height: 100px;
  padding: 20px 10px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid var(--gray-3);
  color: var(--gray-9);
  background-color: white;
  display: flex;
  align-items: center;
}
.sidebar_head h1 {
  font-size: 32px;
  flex: 1;
}
.close_icon {
  font-size: 38px;
  color: var(--gray-9);
  cursor: pointer;
}
.close_icon:hover {
  color: var(--gray-7);
}
.main {
  margin-top: 100px;
}
.content_header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid var(--gray-3);
  padding-bottom: 30px;
}
.content_header_text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.content_header_text h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--gray-9);
}
.content_header_text button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  color: var(--gray-7);
  cursor: pointer;
}
.content_header_text button:hover {
  color: var(--gray-9);
}
