.main {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid var(--gray-3);
  padding-bottom: 25px;
}
.head h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--gray-9);
}
.head button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  color: var(--gray-7);
  cursor: pointer;
}
.head button:hover {
  color: var(--gray-9);
}

@media only screen and (max-width: 1000px) {
  .main {
    display: none;
  }
}