.main {
  position: fixed;
  display: none;
  bottom: 0;
  width: 100%;
  height: max-content;
  padding: 12px;
  background-color: white;
  z-index: 12;
  box-shadow: 0 -1px 6px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}
.icon {
  color: var(--gray-9);
  font-size: 24px;
  cursor: pointer;
}
.icon:hover {
  color: var(--gray-7);
}

@media only screen and (max-width: 500px) {
  .main {
    display: flex;
  }
  .icon {
    font-size: 22px;
  }
}