.main {
  position: relative;
}
.select {
  outline: none;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 12px;
  gap: 5px 10px;
  font-size: 15px;
  color: var(--gray-9);
  border-radius: 5px;
  border: 1px solid var(--gray-4);
  font-weight: 600;
  position: relative;
  width: 160px;
  cursor: pointer;
}
.content, .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.arrows {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background-color: transparent;
}
.arrows::after,
.arrows::before {
  --size: 6px;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.arrows::before {
  border-left: var(--size) solid transparent ;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--gray-4);
  top: 40%;
}
.arrows::after {
  border-left: var(--size) solid transparent ;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--gray-4);
  top: 60%;
}
.list {
  position: absolute;
  width: 170px;
  top: calc(100% + 5px);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--gray-4);
}
.item {
  padding: 10px;
  cursor: pointer;
}
.item:hover {
  background-color: var(--gray-3);
}