.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 20px 50px 20px;
  text-align: center;
}
.main h3 {
  font-size: 32px;
  color: var(--gray-9);
}
.main p {
  font-size: 18px;
  line-height: 28px;
  color: var(--gray-8);
}

@media only screen and (min-width: 2150px) {
  .main {
    padding: 40px 20px 70px 20px;
  }
  .main h3 {
    font-size: 46px;
  }
  .main p {
    font-size: 24px;
    line-height: 34px;
  }
}
@media only screen and (max-width: 400px) {
  .main h3 {
    font-size: 28px;
  }
  .main p {
    font-size: 16px;
    line-height: 25px;
  }
}