.main {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: transform 200ms;
  width: 550px;
}
.main:hover {
  box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.10);
  transform: translateY(-0.2%);
}
.main, .image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.content {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.content_s {
  padding: 20px 10px;
}
.title {
  font-size: 20px;
}
.title_s {
  font-size: 18px;
}
.price {
  font-size: 20px;
  font-weight: 600;
}
.price_s {
  font-size: 18px;
}
.sizes {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 10px;
  padding-bottom: 10px;
  justify-content: start;
  gap: 10px;
}
.sizes_s {
  grid-template-columns: auto auto auto;
  gap: 5px;
}
.size {
  border: 1px solid var(--gray-4);
  width: 85px;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
}
.size_s {
  font-size: 15px;
  width: 70px;
  padding: 5px 0;
}

@media only screen and (max-width: 3500px) {
  .main {
    width: 500px;
  }
}

@media only screen and (max-width: 3200px) {
  .main {
    width: 450px;
  }
}
@media only screen and (max-width: 2870px) {
  .main {
    width: 400px;
  }
  .main_s {
    width: 280px;
  }
  .sizes {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 1290px) {
  .main {
    width: 320px;
  }
  .main_s {
    width: 280px;
  }
} 
@media only screen and (max-width: 1200px) {
  .main_s {
    width: 250px;
  }
}
@media only screen and (max-width: 1100px) {
  .main_s {
    width: 200px;
  }
  .sizes_s {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 1000px) {
  .main_s {
    width: 250px;
  }
}
@media only screen and (max-width: 920px) {
  .sizes_s {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 680px) {
  .main {
    width: 300px;
  }
  .main_s {
    width: 250px;
  }
} 
@media only screen and (max-width: 650px) {
  .content {
    padding: 20px 10px;
  }
  .title {
    font-size: 16px;
  }
  .price {
    font-size: 16px;
  }
  .sizes {
    gap: 5px;
  }
  .size {
    font-size: 14px;
    width: 70px;
    padding: 5px 0;
  }
} 
@media only screen and (max-width: 630px) {
  .main {
    width: 240px;
  }
  .main_s {
    width: 210px;
  }
  .sizes_s {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 500px) {
  .main {
    width: 400px;
  }
  .sizes_s {
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (max-width: 420px) {
  .main {
    width: 350px;
  }
}
@media only screen and (max-width: 380px) {
  .main {
    width: 300px;
  }
  .sizes_s {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 320px) {
  .main {
    width: 250px;
  }
}