.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  min-height: calc(100vh - var(--footer-height) - var(--nav-height));
  padding: 50px 20px;
}
.icon_container {
  font-size: 70px;
  color: var(--gray-9);
  border: 2px solid var(--gray-7);
  height: 110px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.content h1 {
  color: var(--gray-9);
  font-size: 32px;
  font-weight: 500;
}
.content button {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  background-color: var(--gray-9);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.content button:hover {
  background-color: var(--gray-8);
}

@media only screen and (max-width: 500px) {
  .main {
    gap: 10px;
  }
  .icon_container {
    font-size: 32px;
    height: 50px;
    width: 50px;
    border-width: 1px;
  }
  .content {
    gap: 10px;
  }
  .content h1 {
    font-size: 18px;
  }
  .content button {
    padding: 5px 15px;
    font-size: 12px;
  }
}