.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  min-height: calc(100vh - var(--footer-height) - var(--nav-height));
}
.icon_container {
  font-size: 78px;
  color: var(--gray-9);
  border: 2px solid var(--gray-7);
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.content h1 {
  color: var(--gray-9);
  font-size: 36px;
  font-weight: 500;
}
.content button {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  background-color: var(--gray-9);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.content button:hover {
  background-color: var(--gray-8);
}