.main {
  margin-top: var(--nav-height);
  display: flex;
  padding: 40px 20px;
  gap: 20px;
}
.image_gallery_container {
  flex: 1;
}
.image_item_original {
  max-height: 700px;
}
.details_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.state_box {
  background-color: var(--gray-9);
  width: max-content;
  color: white;
  font-weight: 500;
  padding: 8px;
  border-radius: 5px;
}
.details_container h2 {
  font-size: 32px;
}
.subtitle {
  font-size: 18px;
  font-weight: 400;
}
.price {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
}
.sizes_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin-top: 10px;
}
.size {
  border: 1px solid var(--gray-4);
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
  color: var(--gray-5);
  display: flex;
  font-size: 17px;
  align-items: center;
  width: fit-content;
  border-radius: 5px;
}
.active {
  border-color: var(--gray-6);
  color: var(--gray-9);
}
.quantity_button_container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}
.quantity_container {
  display: flex;
  align-items: center;
  --box-height: 40px;
  --box-width: 40px;
}
.quantity_container button {
  width: var(--box-width);
  height: var(--box-height);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-9);
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--gray-6);
}
.add {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.add_ar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.minus {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.minus_ar {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.quantity_container p {
  width: 60px;
  height: var(--box-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--gray-6);
  border-bottom: 1px solid var(--gray-6);
}
.addToCart, .toCheckOut {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}
.addToCart {
  background-color: var(--gray-4);
}
.addToCart:hover {
  background-color: var(--gray-3);
}
.addToCart:disabled, .buyNow:disabled {
  cursor: not-allowed;
}
.addToCart:disabled:hover {
  background-color: var(--gray-4);
}
.toCheckOut {
  margin-top: 10px;
  background-color: var(--gray-9);
  color: white;
}
.toCheckOut:hover {
  background-color: var(--gray-8);
}

@media only screen and (max-width: 1000px) {
  .state_box {
    font-size: 14px;
    padding: 6px;
  }
  .details_container h2 {
    font-size: 28px;
  }
  .sizes_container {
    gap: 6px;
  }
}
@media only screen and (max-width: 860px) {
  .main {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 460px) {
  .main {
    padding: 40px 10px;
  }
}
@media only screen and (max-width: 380px) {
  .sizes_container {
    grid-template-columns: auto auto auto;
  }
}