.separator {
  margin-top: 25px;
  border-top: 1px solid var(--gray-4);
}
.other_item {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}
.other_info_label {
  color: var(--gray-9);
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
}
.other_item button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--gray-9);
  font-size: 18px;
  cursor: pointer;
}
.other_item button:hover {
  color: var(--gray-7);
}
.care_container {
  margin-top: 20px;
  padding-bottom: 20px;
}
.care_container h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
.care_container p {
  color: var(--gray-8);
  font-size: 18px;
}