.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 0;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 28px;
}
.search_options_container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.search_options_text {
  font-size: 16px;
}
.cards {
  display: grid;
  grid-template-columns: auto auto auto auto auto; 
  justify-content: center;
  gap: 25px;
}
.sidebar_icon {
  color: var(--gray-8);
  background-color: white;
  font-size: 28px;
  cursor: pointer;
}
.sidebar_icon:hover {
  color: var(--gray-6);
}
.sidebar_container, .sidebar_container_ar {
  height: 100%;
  z-index: 100;
  background-color:white;
  position: fixed;
  top: 0;
  transition: transform .5s ease;
  opacity: 1;
  max-width: 100vw;
}
.sidebar_container {
  left: 0;
  width: var(--sidebar-width);
}
.sidebar_container_ar {
  right: 0;
  width: var(--sidebar-width);
}
.sidebar_container_hidden {
  transform: translateX(-100%);
  opacity: 0;
}
.sidebar_container_hidden_ar {
  transform: translateX(100%);
  opacity: 0;
}
.overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
  z-index: 99;
}

@media only screen and (max-width: 1980px) {
  .cards {
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (max-width: 1600px) {
  .cards {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 1310px) {
  .cards {
    gap: 15px;
  }
}
@media only screen and (max-width: 1000px) {
  .title {
    visibility: hidden;
  }
}
@media only screen and (max-width: 840px) {
  .cards {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 500px) {
  .cards {
    grid-template-columns: auto;
  }
  .search_options_container {
    gap: 10px;
  }
  .search_options_text {
    width: max-content;
    font-size: 14px;
  }
}