.main {
  margin-top: var(--nav-height);
  min-height: calc(100vh - var(--footer-height) - var(--nav-height));
}
.showcase {
  height: 280px;
  position: relative;
}
.showcase h2 {
  color: white;
  font-size: 38px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  height: auto;
  transform: translate(-50%, -50%);
}
.content {
  padding: 40px 60px;
}
.content h3 {
  font-size: 22px;
  margin-bottom: 20px;
}
.content p {
  font-size: 17px;
  line-height: 28px;
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .showcase h2 {
    color: white;
    font-size: 28px;
  }
  .content {
    padding: 40px 20px;
  }
  .content h3 {
    font-size: 20px;
  }
  .content p {
    font-size: 16px;
  }
}